* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.container {
    max-width: 100%;
    min-height: 100%;
    font-size: 15px;
    background-color: hsl(240, 78%, 98%);
    background-image: url(images/bg-bottom.svg), url(images/bg-top.svg);
    background-repeat: no-repeat;
    background-position: 0% 100%, 100% 0%;
       
}

h1 {
    text-align: center;
    color: hsl(234, 14%, 49%);
    font-size:25px;
    padding: 30px 0;
}

h2 {
   font-size: 15px; 
}

h3 {
    font-size: 60px;
    padding: 15px 50px;   
}

h4 {
    font-size: 60px;
    padding: 15px 50px; 
    display: none
}

p {
    font-size: 15px;
}

.selector {
    display: flex;
    color: hsl(234, 14%, 74%);
    justify-content: center;
    align-items: center;
}

#s-bar {
    background-color: hsl(237, 63%, 64%);
    width:50px;
    height:25px;
    margin: 0 20px;
    padding: 1px;
    border-radius: 15px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer
}

#s-ball {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

#s-bar:hover {
    opacity: 0.5;
}

.pcards {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 30px auto;
    text-align: center;
}

.card-left , .card-middle , .card-right {
    padding: 20px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 0px 19px -8px rgba(0,0,0,0.75);
}

.card-middle {
    padding:50px 20px;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    border-radius: 10px;
}

.card-middle p ,.card-left p , .card-right p  {
   padding: 15px 0;
}


.card-left p , .card-right p {
   color: hsl(233, 13%, 49%);
}

.card-left {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px
}

.card-right {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px
}

#card hr {
    width: 80%;
    margin: auto;
    opacity: 0.2;
}

button {
    width: 85%;
    margin :25px auto 10px auto;
    padding:15px;
    cursor: pointer;
    font-size:15px;
    transition-duration: 3000;
    color:white;
    background-color: hsl(237, 63%, 64%);
    border: none;
    border-radius: 5px; 
    text-transform: uppercase;
}

.card-middle button {
    color: hsl(237, 63%, 64%);
    background-color: white;  
}

.card-middle button:hover{
    color:white;
    background-color: transparent;
}

button:hover{
    color:hsl(237, 63%, 64%);
    background-color: transparent;
}


@media only screen and (max-width: 760px){
    .pcards {
        flex-direction: column;
        
    }
    .card-left , .card-middle , .card-right {
        margin: 15px;
        border-radius: 15px;
        width: 80%
    }
    
}
